[Unit]
Description=B3 status led service (start/shutdown)

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/b2-set-led lit
ExecStop=/usr/sbin/b2-set-led fast

[Install]
WantedBy=multi-user.target
