Source: bubbatwo-utils
Section: utils
Priority: standard
Maintainer: Charles Leclerc <leclerc.charles@gmail.com>
Build-Depends: debhelper (>= 11), dh-systemd (>= 1.5)
Standards-Version: 3.9.5
Homepage: http://github.com/Excito/bubbatwo-utils
Vcs-Git: https://github.com/Excito/bubbatwo-utils.git
Vcs-Browser: http://github.com/Excito/bubbatwo-utils

Package: bubbatwo-utils
Architecture: powerpc
Depends: ${shlibs:Depends}, ${misc:Depends}, bubba3-kernel (>= 3.18.21-1)
Description: System utilities to manage specific Bubba|2 LED and devices
