#!/usr/bin/make -f

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd --name=bubba-status
	dh_installsystemd --name=bubba-halt

override_dh_installinit:
	dh_installinit --name=bubba-status
	dh_installinit -r --no-start --name=bubba-halt
